<!DOCTYPE html>
<html lang="en">
 <base href="../">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico"/>
  <title>iMusik</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
		<div class="row">
			<nav class="navbar navbar-default ct-navbar" role="navigation">
             <div class="navbar-header col-sm-4 col-xs-4" style="padding-left: 0px">
                <a class="navbar-brand" href="#" style="font-size: 26px; font-style: bold; color: #2196F3">iMusik</a>
            </div>
            <div class="form-group navbar-btn col-sm-4 col-xs-4">
                <form action="/go" method="post">
                    <input type="text" class="form-control ct-search" placeholder="Search" >
                </form>
            </div>
            <div class="navbar-header col-sm-4 col-xs-4" style="padding-right: 0px">
                <a href="../"><img src="images/avatar.png" alt="avatar" class="img img-responsive ct-avatar" width="30px" height="30px"></a>
            </div>

        </nav>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12 ct-banner-album-header">
        <h2 class="text-center">Lady Gaga - The Cure</h2>
        <p class="text-center">New Single</p>
      </div>
  </div>
</div>
<div class="container">
  <!-- new song -->
  <div class="row" style="margin-top: 26px">
    <div class="col-xs-12">
      <div class="col-xs-6" style="padding-left: 0px">
        <p style="font-size: 24px">Album Moi</p>
      </div>
      <div class="col-xs-6">
        <a href="">
          <p class="text-right text-">Show All</p>
        </a>
      </div>
      <div class="col-xs-12" style="padding-left: 0px">
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href="/album/1"><h5>Chao Ngay Moi</h5></a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <a href="">
            <div class="ct-new-song">
              <img src="images/lalala.png" class="img img-responsive" alt="">
              <div class="ct-caption-new-song">
                <a href=""><h5>Chao Ngay Moi</h5> </a>
                <a href="">
                  <p>Ca Si Tu Do</p>
                </a>
              </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href="/1"><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4" style="padding-left: 0px">
          <div class="ct-new-song">
            <img src="images/lalala.png" class="img img-responsive" alt="">
            <div class="ct-caption-new-song">
              <a href=""><h5>Chao Ngay Moi</h5> </a>
              <a href="">
                <p>Ca Si Tu Do</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12" style="padding-left: 0px"><h3>Nghe Nhieu</div>
        <div class="col-xs-12 ct-scrolls" id="ct-scroll-custom" style="padding-bottom: 10px; ">
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
              <a href="/1"><img src="images/collection/sunday.png" class="img img-responsive ct-item-collection" alt="">
                  <h5>Tieu de bo suu tap</h5>
              </a>
            </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
              <a href="#"><img src="images/collection/fells.png" class="img img-responsive  ct-item-collection" alt="">
                <h5>Tieu de bo suu tap</h5>
              </a>
            </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
                <a href="#"><img src="images/collection/work flow.png" class="img img-responsive  ct-item-collection" alt="">
                  <h5>Tieu de bo suu tap</h5>
                </a>
            </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
                <a href="#"><img src="images/collection/it lit.png" class="img img-responsive ct-item-collection" alt="">
                  <h5>Tieu de bo suu tap</h5>
                </a>
            </div>
            <div class="col-sm-2 ct-collectionct-collection" style="padding-left: 0px">
                <a href="#"><img src="images/collection/future hit.png" class="img img-responsive ct-item-collection" alt="">
                  <h5>Tieu de bo suu tap</h5>
                </a>
            </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
              <a href="#"><img src="images/collection/fells.png" class="img img-responsive  ct-item-collection" alt="">
                <h5>Tieu de bo suu tap</h5>
              </a>
            </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
              <a href="#1"><img src="images/collection/work flow.png" class="img img-responsive  ct-item-collection" alt="">
                  <h5>Tieu de bo suu tap</h5>
              </a>
            </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
                <a href="/1"><img src="images/collection/sunday.png" class="img img-responsive ct-item-collection" alt="">
                    <h5>Tieu de bo suu tap</h5></a>
                </div>
            <div class="col-sm-2 ct-collection" style="padding-left: 0px">
              <a href="#"><img src="images/collection/fells.png" class="img img-responsive  ct-item-collection" alt="">
                <h5>Tieu de bo suu tap</h5>
              </a>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="container copyright">
  <div class="row">
    <div class="col-sm-4">
      <h2>iMusik</h2>
      <h5>Manage</h5>
      <button type="button" class="btn btn-default">Admin Page</button>
    </div>
    <div class="col-sm-4">
      <h2>About</h2>
      <h5>iMusik Verion: 2.2</h5>
      <h5>Design by sonH</h5>
    </div>
    <div class="col-sm-4">
      <h2>Support</h2>
      <h5>Email: sonhoai272@gmail.com</h5>
    </div>
    <div class="col-sm-12" style="padding-top: 12px">
      <h5 class="text-left" style="font-style: normal">Copyright © 2017 All rights reserved</h5>
    </div>
  </div>
</div>
</body>
</html>
